html {
    background-image:url('/img/backGround.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:100vh;
    width: 100%;
}
.item{
    flex: 1;
    font-size: 70px;
    padding:10px;
    border:3px solid #db706c;
    border-radius: 30px / 30px;
    color: white;
    text-decoration: none;
}
.box{
    margin:10%;
}
table{
    display:table;
    color:white;
    border: 1px solid #db706c;
    text-align: center;
    border-collapse: collapse;
}
.setting{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float:right;
    height: 100vh;
    width: 50%;
}
th,td{
    border: 1px solid #db706c;
    width:20%;
}
p{
    color:white;
    border: 1px solid #db706c;
}
.check{
    color:red;
}